@charset "UTF-8";
/*@font-face {
	font-family: 'Gilroy';
	src: url("./fonts/Gilroy-SemiBold.eot");
	src: local("Gilroy SemiBold"), local("./fonts/Gilroy-SemiBold"), url("./fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-SemiBold.woff") format("woff"), url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url("./fonts/Gilroy-Regular.eot");
	src: local("Gilroy Regular"), local("./fonts/Gilroy-Regular"), url("./fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Regular.woff") format("woff"), url("./fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url("./fonts/Gilroy-Medium.eot");
	src: local("Gilroy Medium"), local("./fonts/Gilroy-Medium"), url("./fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Medium.woff") format("woff"), url("./fonts/Gilroy-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url("./fonts/Gilroy-Bold.eot");
	src: local("Gilroy Bold"), local("./fonts/Gilroy-Bold"), url("./fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-Bold.woff") format("woff"), url("./fonts/Gilroy-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url("./fonts/Gilroy-ExtraBold.eot");
	src: local("Gilroy Bold"), local("./fonts/Gilroy-ExtraBold"), url("./fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/Gilroy-ExtraBold.woff") format("woff"), url("./fonts/Gilroy-ExtraBold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BentonSans_medium';
	src: url("./fonts/BentonSans Condensed Medium.eot");
	src: local("☺"), url("./fonts/BentonSans Condensed Medium.woff") format("woff"), url("./fonts/BentonSans Condensed Medium.ttf") format("truetype"), url("./fonts/BentonSans Condensed Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BentonSans_bold';
	src: url("./fonts/BentonSans Condensed Bold.eot");
	src: local("☺"), url("./fonts/BentonSans Condensed Bold.woff") format("woff"), url("./fonts/BentonSans Condensed Bold.ttf") format("truetype"), url("./fonts/BentonSans Condensed Bold.svg") format("svg");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cheltenham_ITC_Book';
	src: url("./fonts/Cheltenham_ ITC Book.eot");
	src: local("☺"), url("./fonts/Cheltenham_ ITC Book.woff") format("woff"), url("./fonts/Cheltenham_ ITC Book.ttf") format("truetype"), url("./fonts/Cheltenham_ ITC Book.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgiaPro-Light';
	src: url("./fonts/GeorgiaPro-Light.eot");
	src: local("☺"), url("./fonts/GeorgiaPro-Light.woff") format("woff"), url("./fonts/GeorgiaPro-Light.ttf") format("truetype"), url("./fonts/GeorgiaPro-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgiaPro-BoldItalic';
	src: url("./fonts/GeorgiaPro-BoldItalic.eot");
	src: local("☺"), url("./fonts/GeorgiaPro-BoldItalic.woff") format("woff"), url("./fonts/GeorgiaPro-BoldItalic.ttf") format("truetype"), url("./fonts/GeorgiaPro-BoldItalic.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'GeorgiaPro-SemiBoldItalic';
	src: url("./fonts/GeorgiaPro-SemiBoldItalic.eot");
	src: local("☺"), url("./fonts/GeorgiaPro-SemiBoldItalic.woff") format("woff"), url("./fonts/GeorgiaPro-SemiBoldItalic.ttf") format("truetype"), url("./fonts/GeorgiaPro-SemiBoldItalic.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}*/
/**/
body{
	border: none;
	margin: 0;
}
#wrapper{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#container{
	position: relative;
	width: 870px;
	height: 600px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#cesiumContainer{
	width: 100%;
	height: 100%;
}
.cesium-viewer-toolbar{
	/*display: none;*/
}

@media all and (display-mode: fullscreen) {
	#container{
		width: 100vw;
		height: 100vh;
	}
}

/**/

/*.fade-in-image {
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	-ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}*/

#picBox{
	max-width: 750px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color: rgba(255,255,255,0.5);*/
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s;
}
#picBox.active{
	pointer-events: unset;
	opacity: 1;
}
#captionBox{
	font-size: 12px;
	font-family: 'Conv_BentonSans_medium', arial;
	position: absolute;
	width: 100%;
	padding: 20px;
	bottom: 0px;
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	/*opacity: 0;*/
	/*pointer-events: none;*/
	transition: all 0.5s;

	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#picBox.active:hover > #captionBox{
	opacity: 1;
}
#captionBox span{
	float: right;
}

.gps_ring {
	border: 3px solid #999;
	-webkit-border-radius: 30px;
	height: 18px;
	width: 18px;
	position: absolute;
	left:20px;
	top:214px;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite; 
	opacity: 0.0
}
@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#greenSquare{
	width: 30px;
	height: 30px;
	background-color: #0F0;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
}

#redSquare{
	width: 30px;
	height: 30px;
	background-color: #F00;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 70px;
}

*{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}